<form #registerform="ngForm" (ngSubmit)="register()">
    <h2 class="text-center">Sign Up For Dating App</h2>
    <hr>
    <div class="mb-3">
        <input 
            type="text" 
            class="form-control" 
            placeholder="Username" 
            name="username" 
            [(ngModel)]="model.username">
    </div>

    <div class="mb-3">
        <input 
            type="password" 
            name="password" 
            placeholder="Password" 
            class="form-control" 
            [(ngModel)]="model.password">
    </div>
    <div class="text-center">
        <button class="btn btn-outline-success me-3">Register</button>
        <button class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
    </div>
</form>
